@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:  purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
}